body {
  margin: 0px;
  font-family: "Noto Sans", sans-serif;
}

h2 {
  margin: 0;
  line-height: 0;
  margin-inline: 0;
  margin-block: 0;
}

.headerDay,
.cell--calendar {
  border: 1px solid black;
  padding: 0px;
}
.headerDay,
.menu--cell {
  height: 2vh;
  padding: 0px;
  text-align: center;
}

.cell--calendar {
  vertical-align: top;
  height: 15vh;
  padding: 0px;
}

.calendar--table--top,
.calendar--table {
  border-collapse: collapse;
  table-layout: fixed;
  margin-left: auto;
  width: 100%;
}

.headerDay {
  background-color: #b7e4c7;
}
.cell--calendar:hover {
  background-color: #d3d3d3;
}

.day--selected--title {
  border-bottom: 1px solid;
  text-align: center;
}

.scrolling {
  height: 91vh;
  overflow-y: scroll;
}
