body {
  margin: 0px;
  font-family: "Noto Sans", sans-serif;
}

.headerDay,
.cell--calendar {
  border: 1px solid black;
  padding: 0px;
}
.headerDay,
.menu--cell {
  height: 2vh;
  padding: 0px;
  text-align: center;
}

.cell--calendar {
  vertical-align: top;
  height: 15.3vh;
  padding: 0px;
}

.calendar--table {
  border-collapse: collapse;
  table-layout: fixed;
  margin-left: auto;
  width: 100%;
}

.headerDay {
  background-color: #b7e4c7;
}
.cell--calendar:hover {
  background-color: #d3d3d3;
}

.theColumns {
  width: 100%;
  height: 100vh;
  position: relative;
}

.day--selected {
  width: 15%;
  height: 20%;
  position: absolute;
  margin-top: 30px;
}

.day--selected--title {
  border-bottom: 1px solid;
  text-align: center;
}

.calendar {
  width: 85%;
  height: 100%;
  margin-left: 15%;
}

.day--contents {
  width: 15%;
  height: 80%;
  overflow-y: scroll;
  position: fixed;
  margin-top: 77px;
  padding-left: 10px;
}

/* #calendar--title {
  padding: 2px 0 2px;
} */
